footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 1px solid;
    height: 50px;
    background-color:rgb(250 250 250);
    color: #02158b ;
    padding-top: 20px;
  }
  