
.after-header{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 50px;
}

section.middle--container {
  width: 78%;
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
  margin-bottom: 50px;
}